<app-header></app-header>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Acciones</div>
          <a class="nav-link" [routerLink]="['/dashboard/home']">
            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
            Inicio
          </a>
          <a class="nav-link" [routerLink]="['/dashboard/account/load-balance']">
            <div class="sb-nav-link-icon"><i class="fas fa-arrow-circle-up"></i></div>
            Cargar saldo
          </a>
          <a class="nav-link" [routerLink]="['/dashboard/account/withdrawals']">
            <div class="sb-nav-link-icon"><i class="fas fa-arrow-circle-down"></i></div>
            Retirar saldo
          </a>
          <a class="nav-link" [routerLink]="['/dashboard/account/transfer']">
            <div class="sb-nav-link-icon"><i class="fas fa-exchange-alt"></i></div>
            Transferir saldo
          </a>
        </div>
      </div>
    </nav>
  </div>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Cargar saldo</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">Cargue saldo a su cuenta.</li>
        </ol>
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Complete los campos necesarios
          </div>
          <div class="card-body">
            <form [formGroup]="loadBalanceForm" (ngSubmit)="loadBalance()" novalidate>
              <div class="row mb-3">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="amount" type="number" placeholder="1000" formControlName="amount">
                    <label for="amount">Cantidad</label>
                  </div>
                  <!-- errors-->
                  <p *ngIf="loadBalanceForm.get('amount').touched && loadBalanceForm.get('amount').pristine" class="error"><sup>*</sup>Ingrese un monto.</p>
                  <p *ngIf="loadBalanceForm.get('amount').errors?.min" class="error"><sup>*</sup>El monto debe ser mínimo 1.</p>
                  <p *ngIf="loadBalanceForm.get('amount').errors?.max" class="error"><sup>*</sup>El monto debe ser máximo 1000000.</p>
                  <div class="mt-4 mb-0">
                    <button [disabled]="!loadBalanceForm.valid" class="btn btn-lg btn-block btn-primary mb-3">
                      <div *ngIf="!preLoader">Cargar saldo</div>
                      <div class="no-data text-center" *ngIf="preLoader">
                        <img src="../../assets/img/preloader.gif" class="preloader" width="25" height="25" alt="preloader">
                      </div>
                    </button>
                  </div>
                </div>
                <div class="col-md-4">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>
